@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #129831;
    --app-purple: #833cff;
    --app-orange: #c26e3d;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    background-color: var(--app-purple);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

.play-btn {
    text-align: right;
    width: 100%;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}


h1 {
    color: #fff;
}

h2 {
    color: #fff;
    text-align: center;
}

p {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

header {
    padding: 12px;
}

.title {
    width: 40%;
}

.btn-wrapper {
    width: 60%;
    text-align: right;
}

.guessnumber {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.description {
    text-align: center;
    font-size: 26px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--app-green);
    color: #fff;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
}

button:hover {
    background-color: #298782;
}

input[type="text"] {
    margin-bottom: 20px;
    width: 350px;
    height: 350px;
    padding: 0 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 10rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

input[type="button"] {
    width: 120px;
    height: 46px;
    text-align: center;
    background-color: var(--app-blue);
    border: 1px solid var(--app-blue);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 10%) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: var(--app-blue-hover);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.output {
    height: 52px;
    width: 100%;
    margin-top: 30px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 0.2);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;
    text-align: left;
    color: #fff;
}

.output p {
    font-size: 20px;
    padding-top: 10px;
}