@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #006518;
    --app-purple: #833cff;
    --app-orange: #c26e3d;
    --app-blue: #1635ff;
    --app-blue-hover: #1b31be;
}

body {
    animation: fadeIn 0.5s ease-in;
    background-color: rgb(0, 31, 92);
}

@keyframes body {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ---------------------------------------------------- */
/* Header
/* ---------------------------------------------------- */

header {
    padding: 12px;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}

.title {
    width: 25%;
}

/* ---------------------------------------------------- */
/* Play Again button
/* ---------------------------------------------------- */
    
.btn-wrapper {
    width: 75%;
    text-align: right;
}

.button{
    position: relative;
    background-color: var(--app-orange);
    border-radius: 4em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .button:hover {
    transition-duration: 0.5s;
    background-color: #873c11;
  }
  
  .button:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 80px white;
  }
  
  .button:active:after {
    box-shadow: 0 0 0 0 white;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:active {
    top: 1px;
  }
  

/* ---------------------------------------------------- */
/* Win result page
/* ---------------------------------------------------- */

.win-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--app-dark-bg);
}

.win-result-page {
    visibility: visible;
    animation: fadeIn 0.5s ease-in;
}

.result-btn {
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* ---------------------------------------------------- */
/* Game section
/* ---------------------------------------------------- */

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4 {
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.7em;
    margin-top: 15px;
}

h4 {
    font-size: 36px;
}

p {
    text-align: center;
    color: #fff;
    font-size: 28px;
}

input[type="button"] {
    margin: auto;
}

input[type="text"] {
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

span {
    color: var(--app-orange);
    font-size: 34px;
    font-weight: 900;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.description {
    text-align: center;
    font-size: 26px;
}


.description, .calc, .result, .give-up {
    margin-bottom: 20px;
}


.submit-btn {
    padding: 10px 30px;
    text-align: center;
    background-color: var(--app-blue);
    border: 2px solid #3582fd;
    border-radius: 4em;
    box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 10%) 0px 16px 10px -10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: var(--app-blue-hover);
}

.result, .output-wrapper, .give-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.give-up-btn {    
    padding: 10px 25px;
    text-align: center;
    border-radius: 4em;
    background-color: #ff0000;
    box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 10%) 0px 16px 10px -10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.give-up-btn:hover {
    background-color: #9b0000;
}


/* ---------------------------------------------------- */
/* Output
/* ---------------------------------------------------- */

.output {
    padding: 10px;
    height: 50px;
    width: 300px;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 0.2);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2) inset, -1px -1px 1px 0 rgba(255, 255, 255, 0.1) inset;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output p {
    font-size: 21px;
}

@media (max-width: 856px) {
     h1 {
        font-size: 24px;
    }
}

@media (max-width: 448px) {
    h1 {
       font-size: 21px;
   }
}